@media only screen and (max-width: 480px) {
  .bottom-article_nav {
    margin-left: 0;
  }
}

/* ol {
  padding-left: revert;
} */

ol li {
  margin-bottom: auto;
}

h4 {
  font-family: inherit;
}

blockquote {
  font-size: inherit;
}
